<section class="login-box">
	<h2>Welcome to <span class="title-cinema">Cinema</span><span class="title-node">Node</span></h2>
	<br>
	<div class="local-login">
		<!-- <label>email</label> -->
		<div>
			<input type="text" placeholder="Enter email" ng-model="loginEmail">
		</div>
<!-- 		<label>Password</label> -->
		<div>
			<input type="password" placeholder="Enter Password" ng-model="loginPassword">
		</div>
		<div>
		<button type="submit" ng-click='loginLocal()'>Login</button>
		</div>
	</div>

	
	<br>
	<a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
		<span class="fa fa-facebook"></span>Login with Facebook
	</a>
</section>

	