
<h2>Registration</h2>


<ul>
	<li>
		<label for='regusername'>Username</label>
		<input id='regusername'type="text">
	</li>
	<li>
		<label for='regfirstname'>First Name</label>
		<input id='regfirstname'type="text">
	</li>
	<li>
		<label for='reglastname'>Last Name</label>
		<input id='reglastname'type="text">
	</li>
	<li>
		<label for='regpassword1'>Password</label>
		<input id='regpassword1'type="password">
	</li>
	<li>
		<label for='regpassword2'>Reenter Password</label>
		<input id='regpassword2'type="password">
	</li>
</ul>