<h1>My Shelves</h1>

<section class="container">
	<div class="shelf-background">
		<span class="shelf-menu">
			<div ng-repeat="shelf in shelves" ng-click="updateShelf($index)" 
			ng-class="{'selected': shelf.shelf_id == currentShelf.shelf_id}">
				{{shelf.name}}
			</div>
		</span>

		<div class="shelf-border">
			<h3> {{currentShelf.name}} </h3>
			<p> {{currentShelf.summary}} </p>
			<shelf-display movies="currentShelf.movies" reload="loadMovieData()"></shelf-display>
		</div>
	</div>
</section>
