//This CSS handles the animation of title overlays on movie covers.

// Transition time for hover title animations
$time_1: .3s;

.hover-effect {
	text-align:center;

	.title-overlay {
		position:absolute;
		text-align:center;
		text-decoration:none;

		width:100%;
		height: 100%;
		top:0; 
		left:0;
		opacity:0;
		background-color:rgba(0,0,0,0.5);
		-webkit-transition:all $time_1 ease-in-out;
		transition: all $time_1 ease-in-out;
	} 

	img {
		display:block;
		position: relative;
		-webkit-transition:all $time_1 linear;
		transition:all $time_1 linear;
	}

	h2 {
		color:white;
		position:relative;
		font-size: 17px;
		background: rgba(0,0,0,0.6);

		-webkit-transform:translatey(-100px);
	    -ms-transform:translatey(-100px);
		transform:translatey(-100px);
		transition:all .3s ease-in-out;
	}

	&:hover img {
		-ms-transform:scale(1.1);
		-webkit-transform:scale(1.1);
		transform:scale(1.1);
	} 

	&:hover .title-overlay {
		opacity:1;
		//filter:alpha(opacity=100);
	}
	&:hover h2 {
		opacity:1;
		//filter:alpha(opacity=100);
		-ms-transform:translatey(0);
		-webkit-transform:translatey(0);
		transform:translatey(0);
	}

}