$blu-ray-blue: #0060AA;

// Blu-ray Triad Scheme
$theme_dark_blue : #09395D;
$theme_red 		 : #B71712;
$theme_blu_ray	 : #0060AA;
//$theme_gray		 : #808080;
$theme_gray		 : #414141;
$theme_yellow 	 : #F2F60C;


* {
	box-sizing: border-box;
	overflow-x: auto;
}

body {
	margin: 0;
	background-color:$theme_gray;
//	background-color:black;
// 	background-image:url("./../img/theater-seats.jpg");
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	background-size: 100% auto;
// 	background-position:0 10vh;
}

p {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

main {
	margin-top: 12vh;
}

header {
	background-color: rgba(10,10,10,.80);
	width: 100%;
	height: 10vh;
	min-height: 60px;
	
	display: flex;
	align-items: center;
	
	position: fixed;
	z-index: 999;

	font-family: 'Arvo', serif;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;

	.title-cinema {
		font-size:40px;
	}

	a:link, a:visited, a:hover, a:active {
    	text-decoration: none;
    	color: white;
	}
}

.title-cinema {
	font-family:'Pacifico', cursive;
}

.title-node {
	font-family: 'Arvo', serif;
}

nav {
	align-items: center;
	justify-content: flex-end;
	overflow: visible;

	li {
		float: right;
		font-size: 20px;
		margin-left: 10px;
		margin-right: 10px;
		overflow: visible;

		a {
			padding: 5px;
			border-radius: 5px;
		}
		a:hover {
			background-color: #5F5F5F;
		}
	}


}

ul {
	overflow: visible;
	list-style-type: none;
}

h1 {
	font-family: 'Arvo', serif;
	color:white;
	text-transform:uppercase;
	text-align:center;
	background-color:$theme_dark_blue;
	//background-color:rgba(0,0,0,0.5);
	overflow:visible;
}

h2 {
	overflow:visible;
}

h3 {
	text-transform: uppercase;
}



select, textarea{
	color:black;
}


/*CLASSES*/

.test-border {
	border: 2px dashed black;
	border-radius: 5px;
}

.nav-list {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.title {
	color:white;
	font-size: 35px;
	overflow:visible;ecoration: none;

}

.cover {
	display: inline-flex;
	justify-content: center;
	background-color: black;
	width: 150px;
	height: 190px;
	border:1px solid $blu-ray-blue;
	border-radius: 5px;
	overflow:hidden;
	position: relative;
}

.cover-lrg {
	display: inline-flex;
	justify-content: center;
	background-color: black;
	overflow:hidden;
	position: relative;
	border: 5px solid $blu-ray-blue;
	border-radius:5px;
}

.cover-img {
	position:relative;
	width: auto;
	height: auto;
}

.cover-img-lrg {
	display:inline-block;
	width:100%;
	height:auto;
	max-width: 360px;
	max-height: 450px;
}

.profile-img {
	height:50px;
	width:50px;
}

.transparent-shelf-border{
	display:inline-block;
	padding: 10px;
	min-width: 170px;
	width: 40vw;
	background-color: rgba(0,0,0,0);
}

.result-box {
	min-width: 170px;
	min-height: 320px;
	text-align: center;
	overflow-y:hidden;

	padding: 5px;
	margin: 5px;
	margin-bottom: 15px;
		
	border: 2px solid white;
	border-radius: 5px;
	background-color:$blu-ray-blue;
	color:white;
}

.review-box {
	border:1px solid black;
	border-radius:5px;
	padding:10px;
	background-color: $theme_blu-ray;
}


// Short for "In Collection"
.col-in {
	background-color:green;
}

//Short for "Not In Collection"
.col-out {
	background-color:red;
}


.user-tag {
	background-color: $theme_blu-ray;
	width: 10vw;
	border-radius:5px;
	color:white;
}

.login-box {
	width: 400px;
	margin: auto;
	margin-top:15vh;
	padding:20px;
	text-align: center;
	background-color:white;
	border-radius:10px;
	overflow: visible;
}


@media (max-width:600px) {
	.shelf-container {
		display:block;
	}

	.shelf-border {
		display:block;
		margin:auto;
		width:80vw;
		min-width:300px;
	}

	.transparent-shelf-border {
		display:block;
		margin:auto;
		width:80vw;
		min-width:300px;
	}
}