
<div class="shelf">
	<img src="./img/empty_bookshelf_top.jpg" class="shelf-top" />
	<span ng-repeat="movie in movies" class='result-box'>
		<a ui-sref="details({id: movie.imdbID})">
			<div class="cover hover-effect">
				<img class="cover-img" ng-src="{{movie.Poster}}"/>
				<div class="title-overlay">
					<h2>
						{{movie.Title}}
					</h2>
				</div>
			</div>
		</a>
		<p> Year: {{movie.Year}}</p>


<!-- 		<div>
			<div ng-repeat="shelf in shelfList">
				<input type="checkbox">
				{{shelf.name}}
			</div>
		</div> -->


		<select ng-model="selectedShelf" ng-options="shelf.name for shelf in shelfList">
		</select>
		<button ng-click="addMovieToShelf(movie,selectedShelf.shelf_id)">Add to List</button>
	</span>
</div>	